@model IEnumerable<N01419541_JatinderSingh_Assignment2_3.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Ask a question", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionDateAndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Views)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>
    <td>
        @Html.ActionLink(item.QuestionName, "Details", new { id = item.QuestionId })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuestionDateAndTime)
    </td>
</tr>
}
</table>
